
.post-container{
    display: flex;
}
.posts{
    background: var(--primary-colour);
    width: fit-content;
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: clamp(250px, 24vw, 500px);
    
}
.post-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}
.post-image{
    width: clamp(50px,2.4vw,100px);
    height: clamp(50px,2.4vw,100px);
    border-radius: 50%;
    margin-right: 10px;
}