.registration-container{
    border-radius: 10px;
    background: var(--primary-colour);
    margin: 10px 10vw 0px;
    padding: 20px;
    align-items: center;
}
.registration-container h2 {
    text-align: center;
    margin-bottom: 15px;
}
.registration-container * {
    padding: 5px;
}
.registration-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-element input, .role select {
    background: var(--background-colour);
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    
}
.button-box *{
    margin: 0 5px;
    background: var(--background-colour);
    border: none;
    border-radius: 5px;
}
.button-box *:disabled{
    margin: 0 5px;
    background: rgba(82, 82, 104, 0.552);
    border: none;
    border-radius: 5px;
}
.role {
    width: 100%;
}
.reg-but{
    background-color: var(--secondary-colour);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
}
.reg-but:disabled{
    background: rgb(124, 127, 130);
}
input:disabled{
    color: rgb(124, 127, 130);
}