@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.navbar-logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.navbar {
  background: #74e99f;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Merriweather", serif;
  min-height: 56px;
  justify-content: space-between;
}

.logo {
  border: 2px solid black;
  border-radius: 50%;
  width: clamp(2.5rem, 5vw, 3.5rem);
  height: clamp(2.5rem, 5vw, 3.5rem);
  margin: 0.5rem;
}

.title {
  font-size: clamp(1.0rem, 3vw, 1.2rem);
  color: black;
  font-weight: 500;

}

.navbar-links-container * {
  align-items: center;
  margin: 0 0.5rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: clamp(0.75rem, 2.2vw, 1.2rem);
}

.navbar-link-active {
  color: #6b83f7;
}

.navbar_profile {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.userName {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-right: 0.5rem;
}

.profile_photo {
  border: 2px solid black;
  border-radius: 50%;
  width: clamp(2.5rem, 5vw, 3.5rem);
  height: clamp(2.5rem, 5vw, 3.5rem);
  margin: 0.5rem;
}

.new_user * {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-right: clamp(0.25rem, 2vw, 1rem);
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 30px;
  background: #6bd5e5;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu_icon {
  height: 30px;
  margin-right: 1rem;
  display: none;
}

.menu_items {
  display: none;
}

#overlay {
  display: none;
}

@media (max-width: 650px) {
  .logo {
    display: none;
  }

  .navbar-links-container * {
    display: none;
  }

  .menu_icon {
    display: flex;
  }

  .title {
    margin-left: 0.75rem;
  }

  .menu_items {
    position: fixed;
    background: #74e99f;
    flex-direction: column;
    height: 100%;
    width: 70vw;
    top: 56px;
    right: -100%;
    z-index: 10;
    display: flex;
    transition: right 0.3s ease-out;
    padding: 2rem;
  }

  #checkBox:checked~.menu_items {
    right: 0;
  }

  #checkBox:checked~#overlay {
    display: block;
    position: fixed;
    top: 56px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 56px);
    background: rgba(0, 0, 0, 0.282);
    z-index: 2;
  }

  .menu_items *{
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
    text-decoration: none;
    color: black;
  }
  .items_logo{
    width: 60vw;
  }

}