.navbar {
  background: #74e99f;
  display:flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter,Poppins,DM Sans";
}
.logo{
    border: 2px solid black;
    border-radius: 50%;
    width: clamp(2.5rem, 5vw, 3.5rem);
    height: clamp(2.5rem, 5vw, 3.5rem);
    margin : 0.5rem
}
.title{
    font-size: clamp(1.0rem, 4vw, 1.5rem);
}