:root{
  --background-colour: #f2f2f2;
  --primary-navbar-colour: #74e99f;
  --link-active: #6b83f7;
  --text-colour: rgb(0, 0, 0);
  --registration-background: #6bd5e5;
  --primary-colour:#889ee5;
  --secondary-colour: #efb146;
  --link-colour: rgb(0, 234, 255);
}

.darkMode{
  --background-colour: #232222;
  --primary-navbar-colour: #2a2a2a;
  --link-active: #8a9cff;
  --text-colour: #f0f0f0;
  --registration-background: #465051;
  --primary-colour:#373737;
  --secondary-colour: #222121;
  --link-colour:rgb(147, 147, 255);
}

html, body {
  min-height:100vh;
  background: var(--background-colour);
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  color: var(--text-colour);
}